<!-- 
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">GitHub Api </span>
</nav>



<p *ngFor="let x of val">


</p>

<p *ngFor="let x of val">
    Name :- {{x.name}}
    <br>
    Forks :-  {{x.forks}}
    <button (click)="OnEachClick(x.name,x.forks)">Pick</button>
</p>
 -->
<div class="header">GitHub Api Example </div>
Enter the UserName :- 
<input #input1 type="text" > <br>
<br> 
Enter the RepoName :- 
<input #input2 type="text" placeholder="optional"> <br>
<br>
<button (click)="onClick(input1.value,input2.value)" class="btn btn-success">Submit</button>
<main>
  <div class="user">
    <div *ngFor="let x of val">
        <div class="card m-3" style="width:18rem">
          <div class="card-body">

         <ul class="list-group list-group-flush">
          <li class="list-group-item">Name:- {{x.name}} </li>
          <li class="list-group-item">Forks:- {{x.forks}} </li>
        </ul>
        <br>

            <button class="btn btn-primary ml-5" (click)="OnEachClick(x.name,x.forks)" >Pick</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container m-3">
      <h3>Picked Repo List</h3>
      <div *ngFor="let x of mainData" >
      <div class="repo">
          <div class="back">
   <button class="btn m-3 text-white p-3 back1"><i class="material-icons" style="color:white">folder</i>{{x.name}}</button>
   </div>
   </div>

  </div>
     
   <br/>
      </div>
</main>

